:root {
    box-sizing: border-box;
}
body {
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    background-color:hsl(185, 75%, 39%);
    box-sizing: border-box;
    margin: 0;
}
main {
    /* background-color:hsl(185, 75%, 39%);   */
}

.card hr {
    margin-top:2vh;
    width: 90%;
    margin-bottom: 3vh;
}

.container {
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    /* padding-top: 10%; */
    /* padding-bottom: ; */
    background: url("./images/bg-pattern-top.svg") -70vw -30vh, url("/images/bg-pattern-bottom.svg") 45vw 60vh;
    background-repeat: no-repeat, no-repeat;
    /* border: 6px solid gold; */
    background-origin:border-box,border-box;
    /* background-position: left top, right; */
    /* background-color: rgb(129, 127, 255); */
    /* z-index: 3; */
    background-size:30rem 30rem, 30rem 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-height: max-content; */
    /* background-overflow: hidden; */
    /* border:4px solid hsl(241, 75%, 39%); */
    /* visibility: hidden; */
}
footer {
    width: 100%;
    left:calc()
}
.attribution {
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    width: 80%;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background: linear-gradient(to left, rgb(140, 217, 150), rgb(57, 172, 86));
    /* visibility: hidden; */
}

.attribution b:hover {
    text-shadow: 2px 2px rgb(96, 198, 206);
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
}

.icon-lg {
    display: inline-block;
    width:30px;
    height: 30px;
    border-radius: 50%;
    border : 10px double rebeccapurple;
    padding: 3px;
    margin-bottom: 0.5rem;
    background-color: rgb(217, 50, 38);
}
.attribution h4{
    position: relative;
    top:10px;
}

.card {
    display: block;
    width: 90%;
    height: 50%;
    /* border: 2px solid #1f5; */
    position: relative;
    overflow-y: auto;
    /* visibility: hidden; */
    background-color: white;
    border-radius: 1rem;
}
.face {
    box-sizing: border-box;
    display: block;
    margin: auto;
    border-radius: 50%;
    position: relative;
    top:-15%;
    border: 7px solid white;
}
.name {
    /* display: inline-block; */
    width: 100%;
    /* text-align: center; */
    margin-top: -4vh;
    margin-bottom: 1vh;
}
.age {
    display: inline;
}
.centered {
    text-align: center;
}
.top {
    display: block;
    width: 100%;
    height: auto;
}
.greytext {
    color:hsl(0, 0%, 59%);
}
.innercontainer {
    /* margin:auto; */
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}
.innercontainer > div {
    /* display: inline-block; */
    width: 27%;
    text-align: center;
    /* margin: 0 3px; */
}
#city {
    margin: 5vh 0 2vh 0;
}
