:root {
    box-sizing: border-box;
}
body {
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    background-color:hsl(185, 75%, 39%);
    box-sizing: border-box;
    margin: 0;
}

.card hr {
    background-color: #bbb;
    height: 0.00001px;
    /* color: #aaa; */
    margin-top:2rem;
    width: 100%;
    margin-bottom: 2rem;
}

.container {
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    /* padding-top: 10%; */
    /* padding-bottom: ; */
    background: url("./images/bg-pattern-top.svg") -70vw -30vh, url("/images/bg-pattern-bottom.svg") 45vw 60vh;
    background-repeat: no-repeat, no-repeat;
    /* border: 6px solid gold; */
    background-origin:border-box,border-box;
    /* background-position: left top, right; */
    /* background-color: rgb(129, 127, 255); */
    /* z-index: 3; */
    background-size:30rem 30rem, 30rem 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-height: max-content; */
    /* background-overflow: hidden; */
    /* border:4px solid hsl(241, 75%, 39%); */
    /* visibility: hidden; */
}
footer {
    width: 100%;
    left:calc()
}
.attribution {
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    width: 80%;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background: linear-gradient(to left, rgb(140, 217, 150), rgb(57, 172, 86));
    /* visibility: hidden; */
}

.attribution b:hover {
    text-shadow: 2px 2px rgb(96, 198, 206);
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
}

.icon-lg {
    display: inline-block;
    width:30px;
    height: 30px;
    border-radius: 50%;
    border : 10px double rebeccapurple;
    padding: 3px;
    margin-bottom: 0.5rem;
    background-color: rgb(217, 50, 38);
}
.attribution h4{
    position: relative;
    top:10px;
}

.card {
    display: block;
    width: 90%;
    height: 50%;
    /* border: 2px solid #1f5; */
    position: relative;
    overflow-x: hidden;
    /* overflow-y: auto; */
    /* visibility: hidden; */
    background-color: white;
    border-radius: 1rem;
}
.face {
    box-sizing: border-box;
    display: block;
    margin: auto;
    border-radius: 50%;
    position: relative;
    top:-15%;
    border: 7px solid white;
}
.name {
    /* display: inline-block; */
    width: 100%;
    /* text-align: center; */
    margin-top: -8vh;
    margin-bottom: 1vh;
}
.age {
    display: inline;
    font-weight: 450;
}
.centered {
    text-align: center;
}
.top {
    display: block;
    width: 100%;
    height: auto;
}
.greytext {
    color:hsl(0, 0%, 49%);
}
.innercontainer {
    /* margin:auto; */
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    height: 2.5rem;
}
.innercontainer > div {
    /* display: inline-block; */
    width: 27%;
    text-align: center;
    /* margin: 0 3px; */
    font-weight: 1000;
    /* height: 4rem; */
}
#city {
    margin: 2vh 0 1vh 0;
}
.innercontainer > div >  p{
    font-weight: normal;
    font-size: 0.9rem;
    margin-top:0rem;
}
.innercontainer > div >  p:hover{
    color:black;
}
/* add more cases for responsiveness */

@media only screen and (min-width:400px){
    .attribution {
        width: 60%;
    }
    .container {
        background: none;
        background: url("./images/bg-pattern-top.svg") -50vw -30vh, url("/images/bg-pattern-bottom.svg") 45vw 60vh;
        background-repeat: no-repeat, no-repeat;
        background-origin:border-box,border-box;
        background-size:30rem 30rem, 30rem 30rem;
        /* , url("/images/bg-pattern-bottom.svg") 45vw 60vh;  */
    }
    .top {
        height: 8rem;
    }
    .card {
        width: 20rem;
    }
}
@media only screen and (max-height:600px){
    .card {
        height:21rem;
    }
}
@media only screen and (max-height:610px){
    .card{
        /* height: 60%; */
        overflow-y: hidden;
    }
}
@media only screen and (min-height:611px) and (max-height:650px){
    .card {
        height: 23rem;
    }
    #city{
        margin-top: 1.5vh;
    }
    .card hr {
        margin-top: 1rem ;
        margin-bottom: 1rem;
    }
}

@media only screen and (min-height:651px) and (max-height:680px){
    .card {
        height: 23rem;
    }
    .card hr {
        margin-top: 1rem ;
        margin-bottom: 1rem;
    }
}

@media only screen  and (min-height:681px) and (max-height:740px){
    #city{
        margin-top: 1.5vh;
    }
    .card hr {
        margin-top: 1.2rem ;
        margin-bottom:1.2rem;
    }
}
@media only screen  and (min-height:741px)  and (max-height:800px){
    .card {
        height: 23rem;
    }
    #city{
        margin-top: 1vh;
    }
    .name {
        margin-top: -6vh;
    }
    .card hr{
        margin-top: 0;
    }
 } 

@media only screen and (min-height:801px) and (max-height:840px){
    .card {
        height: 23rem;
    }
    #city{
        margin-top: 1vh;
    }
    .name {
        margin-top: -6vh;
    }
    .card hr{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
@media only screen and (min-height:841px){
    .card {
        height:23rem;
    }
    #city{
        margin-top: 1rem;
    }
    .name {
        margin-top: -3rem;
    }
    .card hr {
        margin-top:1rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-height:612px){
    .card hr{
        margin-top:0.1rem;
        margin-bottom: 0.35rem;
    }
    .top {
        height: 7rem;
    }

}
 /* mixed styles*/

@media only screen and (min-width:450px){
    .card {
        /* height: 70%; */
        /* width: 70%; */
    }
    .container {
        background: none;
        background: url("./images/bg-pattern-top.svg") -40vw -18vh, url("/images/bg-pattern-bottom.svg") 40vw 58vh;
        background-repeat: no-repeat, no-repeat;
        background-origin:border-box,border-box;
        background-size:30rem 30rem, 30rem 30rem;
    }
}

@media only screen and (min-width:600px) {
    .card {
        width: 50%;
    }
    .attribution{
        width: 40%;
    }
    .container {
        background: none;
        background: url("./images/bg-pattern-top.svg") -40vw -15vh, url("/images/bg-pattern-bottom.svg") 45vw 60vh;
        background-repeat: no-repeat, no-repeat;
        background-origin:border-box,border-box;
        background-size:34rem 34rem, 32rem 32rem;
}
}

@media only screen and (min-width:700px) and (max-height:850px){
    .card {
        width: 20rem;
    }
    .container {
        background: none;
        background: url("./images/bg-pattern-top.svg") -32vw -25vh, url("/images/bg-pattern-bottom.svg") 40vw 50vh;
        background-repeat: no-repeat, no-repeat;
        background-origin:border-box,border-box;
        background-size:40rem 40rem, 40rem 40rem;
    }
    .attribution{
        width: 17rem;
        border-radius: 1rem;
    }
}
@media only screen and (min-width:720px) and (max-height:700px){
    .container {
        background: none;
        background: url("./images/bg-pattern-top.svg") -10vw -50vh, url("/images/bg-pattern-bottom.svg") 50vw 60vh;
        background-repeat: no-repeat, no-repeat;
        background-origin:border-box,border-box;
        background-size:35rem 35rem, 35rem 35rem;
    }
}

@media only screen and (min-width:850px) and (max-width:1100px){
    .container {
        background: none;
        background: url("./images/bg-pattern-top.svg") -15vw -20vh, url("/images/bg-pattern-bottom.svg") 45vw 60vh;
        background-repeat: no-repeat, no-repeat;
        background-origin:border-box,border-box;
        background-size:40rem 40rem, 40rem 40rem;
    }
}
@media only screen and (min-width:1101px) and (max-width:1200px){
    .container {
        background: none;
        background: url("./images/bg-pattern-top.svg") -15vw -30vh, url("/images/bg-pattern-bottom.svg") 40vw 57vh;
        background-repeat: no-repeat, no-repeat;
        background-origin:border-box,border-box;
        background-size:45rem 45rem, 45rem 45rem;
    }
}
@media only screen and (min-width:1201px) and (max-width:1440px){
    .container {
        background: none;
        background: url("./images/bg-pattern-top.svg") -10vw -38vh, url("/images/bg-pattern-bottom.svg") 40vw 57vh;
        background-repeat: no-repeat, no-repeat;
        background-origin:border-box,border-box;
        background-size:50rem 50rem, 50rem 50rem;
    }
}
@media only screen and (min-width:1441px){
    .container {
        background: none;
        background: url("./images/bg-pattern-top.svg") -10vw -38vh, url("/images/bg-pattern-bottom.svg") 40vw 57vh;
        background-repeat: no-repeat, no-repeat;
        background-origin:border-box,border-box;
        background-size:60vw 60vw, 60vw 60vw;
    }
}


@media only screen and (max-width:400px){
    .card {
        width: 85%;
    }
    .container {
        background: none;
        background: url("./images/bg-pattern-top.svg") -45vw -10vh, url("/images/bg-pattern-bottom.svg") 40vw 58vh;
        background-repeat: no-repeat, no-repeat;
        background-origin:border-box,border-box;
        background-size:23rem 23rem, 23rem 23rem;
    }
    .attribution{
        width: 80%;
    }
}
@media only screen and (min-width:650px){
    .card {
        width: 20rem;
    }
}